<div class="container text-center">
    
    <img src="logo.png">

    <hr>

    <form ng-submit="submitSearch()" class="form-inline">
        <div class="form-group">
            <input class="form-control" type="text" ng-model="albumSearch" placeholder="Enter the title of an album" required>
            <input value="Search" class="btn btn-primary" type="submit"/>
        </div>
    </form>

    <div ng-show="showInstructionDiv">
        <hr>
        <h4>Click on an album to learn more</h4>
        <hr>
    </div>

    <div class="row" ng-repeat="albumdat in albums">
        <!--<img height="100px" width="100px" ng-src="{{album-data.artworkUrl}}">-->
        <album albumdat='albumdat' ng-click="selectAlbum(albumdat)"></album>
    </div>



</div>